.box{
    display: flex;
    flex-direction: column;
}
a{
    color: blue;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
p{
    margin-bottom: -20px;
    color: #848484;
}
input{
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
h5{
    margin-bottom: 3px;
}

h2{
    margin-bottom: -5px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin: 15px 0px 5px 0px;
    font-weight: 700;
    font-size: 18px;
}